Repository Agoric/documentation, pull requests merged in 2021-03, with the labels that each got.

#448 Upgrade for use of Ratios in Loan
  snippets/zoe/contracts/test-loan.js
Labels: Snippets, beta

#453 docs: value of getCurrentAllocation after exit
  main/zoe/api/zoe-contract-facet.md
Labels: Contract Developer Experience, Zoe, beta

#455 refactor: use new amountMath
  snippets/zoe/contracts/test-callSpread.js
  snippets/zoe/contracts/test-loan.js
Labels: beta
