Repository Agoric/documentation, pull requests merged in 2021-12, with the labels that each got.

#583 Drop documentation of multpoolAutoswap from the repo
  main/getting-started/intro-zoe.md
  main/zoe/guide/contracts/README.md
  main/zoe/guide/contracts/autoswap.md
  main/zoe/guide/contracts/loan.md
  main/zoe/guide/contracts/multipoolAutoswap.md
Labels: Contract Developer Experience, beta

#591 ci(build-deploy-doc): temporarily build on `staging2` as well
  .github/workflows/build-deploy-doc.yml
Labels: Tooling

#595 update doc for AdminFacet
  main/zoe/api/zoe.md
Labels: Zoe
